@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e8ff;
  color: #071c5b;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p,
a {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

*::selection {
  background-color: #e7e8ff;
  color: #071c5b;
}

/* }bootstrap */
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 600px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* nav */
header {
  background: #e7e8ff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  height: 80px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.nav-link {
  color: #071c5b;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 10px;
  transition: 0.5s;
  border: 1px solid transparent;
}

.nav-link:hover {
  border: 1px solid #071c5b;
  border-radius: 10px;
}

.nav-list:hover .nav-link:not(:hover) {
  filter: blur(4px);
}

.animation-container {
  display: grid;
  place-content: center;
  place-items: center;
  min-height: 100vh;
  max-height: 100%;
  background: #191919;
  background: radial-gradient(circle, #000000, rgba(0, 0, 0, 0)), url("../images/invierno.avif");
  background-size: cover;
  background-attachment: fixed;
}
.animation-container h1 {
  font-size: 18rem;
  color: transparent;
  background: url("../images/invierno.avif");
  background-clip: text;
  background-size: cover;
  background-attachment: fixed;
}

.animation-container-dos {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  position: relative;
  overflow: hidden;
}
.animation-container-dos h2 {
  font-size: 5rem;
  text-align: center;
  padding: 10px;
  background: linear-gradient(45deg, #0066ff, #0066ff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 10%;
  transition: 0.5s;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.animation-container-dos h2:hover {
  background-size: 100% 10%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slider-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #071c5b 10% 90%, transparent);
}
.slider:hover .slider-item {
  animation-play-state: paused !important;
  filter: grayscale(1) blur(5px);
}

.slider-list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider-item {
  transition: 0.5s;
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: auto-slider 15s linear infinite;
  animation-delay: calc(15s / var(--quantity) * (var(--position) - 1) - 15s);
}
.slider-item:hover {
  filter: grayscale(0);
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider.reverse .slider-item {
  animation: auto-slider-reverse 15s linear infinite;
  animation-delay: calc(15s / var(--quantity) * (var(--position) - 1));
}

@keyframes auto-slider {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
@keyframes auto-slider-reverse {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}
/* main */
.hero {
  background-image: url("../images/invierno.avif");
  min-height: 100vh;
  max-height: 100%;
  background-size: cover;
}
.hero_container {
  background-color: rgba(7, 28, 91, 0.3058823529);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  min-height: 100vh;
  max-height: 100%;
}
.hero_container_section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60%;
  min-width: 300px;
}
.hero_container_section h1 {
  font-size: 7rem;
  text-align: right;
  letter-spacing: -3px;
}
.hero_container_section .hero_social_icons {
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: flex-end;
}
.hero_container_section .hero_social_icons svg {
  width: 50px;
  height: 50px;
  transition: 0.5s;
  padding: 10px;
  cursor: pointer;
}
.hero_container_section .hero_social_icons svg:hover {
  background-color: #e7e8ff;
}
.hero_about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  padding: 20px;
  min-width: 300px;
}
.hero_about .title {
  font-weight: bold;
}
.hero_about a {
  background-color: #071c5b;
  text-decoration: none;
  color: #e7e8ff;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

/* main */
/* flex */
.padre-cajita {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  height: 800px;
  background-color: rgb(151, 140, 125);
}

.cajita {
  width: 25%;
  height: 350px;
  background: #071c5b;
  color: #e7e8ff;
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cajita.uno {
  justify-content: flex-end;
}

.uno p {
  align-self: flex-end;
}

/* about */
.about-container {
  margin: 20px;
  padding: 30px;
  background-color: #071c5b;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* about left */
.about-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  color: #e7e8ff;
}

.about-left img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.about-left-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-left-content .about-left-img {
  height: 600px;
  object-position: top;
}

/* about right */
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: #e7e8ff;
  width: 70%;
}

.about-right-cards {
  display: flex;
  gap: 20px;
}

.about-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.about-right-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.about-right-title svg {
  position: absolute;
  left: 0;
  top: 45%;
  width: 150px;
  color: #e7e8ff;
}

.about-right-title h2 {
  font-size: 6rem;
  text-align: right;
}

.about-right-title p {
  font-size: 18px;
  text-align: right;
  width: 600px;
}

.about-subtitle {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

/* grids */
.gallery {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  /* place-content: center start ; */
  /* place-items: start center; */
  grid-template-areas: "area3 area3 area2 area2" "area4 area4 area2 area2" "area5 area1 area6 area6";
}

hr {
  background-color: #e7e8ff;
}

.box {
  min-height: 400px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.c1 {
  background-color: bisque;
  grid-area: area1;
}

.c2 {
  background-color: bisque;
  grid-area: area2;
}

.c3 {
  background-color: bisque;
  grid-area: area3;
}

.c4 {
  background-color: bisque;
  grid-area: area4;
}

.c5 {
  background-color: bisque;
  grid-area: area5;
}

.c6 {
  background-color: bisque;
  grid-area: area6;
}

/* service */
.services-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.service {
  display: flex;
  flex-direction: column;
  background-color: #071c5b;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.service img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.service div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: #e7e8ff;
}

.service div a {
  text-decoration: none;
  background: #e7e8ff;
  color: #071c5b;
  padding: 10px;
}

/* mobilee */
.mobile-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  background: chocolate;
  grid-template-columns: repeat(2, 1fr);
}

.mobile-container article {
  background: beige;
  color: rgb(145, 25, 145);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #e7e8ff;
}

/* footer */
footer {
  padding: 20px;
}

footer p {
  background-color: #071c5b;
  color: #e7e8ff;
  border-radius: 10px;
  padding: 20px;
}

/* pseudo clases */
.pseudo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pseudo-box {
  flex-grow: 1;
  flex-basis: 150px;
  height: 400px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.pseudo-box:hover {
  flex-grow: 3;
}

.pseudo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px) grayscale(1);
  transition: 0.5s;
}

.pseudo-box span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13rem;
  color: #071c5b;
  transition: 0.5s;
  padding: 5px;
}

.pseudo-box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  background-color: #e7e8ff;
  transition: 0.5s;
}

.pseudo-box:hover .pseudo-box-content {
  opacity: 1;
}

.pseudo-box:hover span {
  font-size: 4rem;
  bottom: 0;
  left: -100%;
}

.pseudo-box:hover img {
  filter: blur(0);
}

/* blog */
.blog-container {
  padding: 20px;
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  background-color: #e7e8ff;
  transition: 0.5s;
}

.blog-card:nth-child(even) {
  background-color: #071c5b;
  flex-direction: row-reverse;
  color: #e7e8ff;
  transition: 0.5s;
}

.blog-card:hover {
  box-shadow: 3px 0px 15px 3px rgba(76, 76, 76, 0.2274509804);
}

.blog-card:hover .blog-img img {
  width: 900px;
  height: 900px;
}

.blog-img {
  flex-grow: 1;
  height: 600px;
  width: 60%;
  transition: 0.5s;
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.blog-content {
  flex-grow: 1;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  transition: 0.5s;
}

.blog-content h3::first-letter {
  text-transform: uppercase;
  font-size: 4rem;
  color: red;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.img-container div {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: #071c5b;
}

.img-1,
.img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.5s;
}

.img-2:hover {
  opacity: 0;
}

@media (max-width: 1200px) {
  .hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e8ff;
  }
  .hero_section {
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .hero_section h1 {
    font-size: 5rem;
    text-align: center;
    letter-spacing: -10px;
  }
  .hero_about {
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .hero_about a {
    background-color: #071c5b;
    text-decoration: none;
    color: #e7e8ff;
    padding: 15px 30px;
    width: max-content;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
  }
  .about-container {
    flex-direction: column-reverse;
  }
  .about-right {
    width: 100%;
  }
  .about-right-title h2 {
    font-size: 5rem;
  }
  .about-right-title svg {
    top: 0;
  }
  .about-left {
    width: 100%;
    flex-direction: row;
  }
  .about-left-content {
    display: flex;
    flex-direction: row;
  }
  .about-left-text {
    flex-direction: column;
  }
  .about-left-team-img {
    display: none;
  }
  .about-left-content .about-left-img {
    height: 400px;
    width: 70%;
  }
  .about-left-text {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .mobile-container {
    display: flex;
    flex-direction: column;
  }
  .hero_section h1 {
    font-size: 3rem;
    letter-spacing: 0;
  }
  .mobile-container article {
    background-color: rgb(125, 38, 7);
  }
  .about-right-cards,
  .about-left-content {
    flex-direction: column;
    width: 100%;
  }
  .about-left-content .about-left-img,
  .about-left-text,
  .about-right-title p {
    width: 100%;
  }
  .about-right-title h2 {
    font-size: 4rem;
    text-align: center;
  }
  .about-right-title p {
    text-align: center;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area4 area4" "area2 area1" "area3 area5" "area6 area5";
  }
}
@media (max-width: 480px) {
  nav {
    height: 100%;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  .hero_section h1 {
    font-size: 2rem;
  }
  .about-right-title h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .about-right-title p {
    font-size: 1.1rem;
    text-align: center;
  }
  .about-right-title svg {
    display: none;
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .box img {
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
